body {
  background: linear-gradient(45deg, #05293d, #1c80ba, #626fcf);
  display: flex;
  /* Enable Flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
  /* Full height of the viewport */
  margin: 0;
  /* Remove default margin */
  height: 1000px;
}


h1 {
  margin-top: 0px;
  color: #0066ff;
  font-weight: bold;
  font-size: 50px;

}

.p-underline {
  border-bottom: 2px solid black;
  /* Underline effect */
  margin-bottom: 20px;
  /* Space below the section */
}

.outer {
  margin-top: 0px;
  background: linear-gradient(45deg, #5163ef, #0892e1, #858ed7);
  height: 650px;
  width: 570px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
}

input {
  height: 28px;
  width: 200px;
  background-color: aliceblue;
  border-color: #0892e1;
}

input:focus {
  border-color: #0892e1;
  background-color: rgb(244, 244, 244);
  outline: none;
}

.gender-container {
  display: flex;
  /* Use Flexbox for horizontal alignment */
  justify-content: space-around;
  /* Space items evenly */
  margin: 10px 0;
  /* Optional margin for spacing */
}

.gender-option {
  display: flex;
  /* Flexbox for label and input alignment */
  align-items: center;
  /* Center align items vertically */
  border: 2px solid rgb(51, 65, 135);
  /* Square border */
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  /* Padding inside the border */
  border-radius: 2px;
  /* Optional: rounded corners */
  width: 120px;
  height: 20px;
  /* Fixed width for square borders */
  text-align: center;
  /* Center the text */
}

input[type="radio"] {
  margin-right: 0.5px;
  /* Space between radio button and label */
}

button {
  height: 28px;
  width: 200px;


  border-radius: 10px;
  color: white;
  font-size: 18px;


  background-color: #0eb825;
  border: none;


  line-height: 30px;
  padding: 0 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: background-color 0.15s;

}

button:hover {

  background-color: #059013;
  cursor: pointer;
}